In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("input/Border_Crossing_Entry_Data.csv")

In [36]:
df

,Port Name,State,Port Code,Border,Date,Measure,Value
0,Alexandria Bay,NY,708,US-Canada Border,12/01/2019 12:00:00 AM,Bus Passengers,740
1,Baudette,MN,3424,US-Canada Border,12/01/2019 12:00:00 AM,Bus Passengers,83
2,Blaine,WA,3004,US-Canada Border,12/01/2019 12:00:00 AM,Bus Passengers,17029
3,Brownsville,TX,2301,US-Mexico Border,12/01/2019 12:00:00 AM,Bus Passengers,4668
4,Buffalo-Niagara Falls,NY,901,US-Canada Border,12/01/2019 12:00:00 AM,Bus Passengers,9910
...,...,...,...,...,...,...,...
353957,Antler,ND,3413,US-Canada Border,01/01/1996 12:00:00 AM,Personal Vehicle Passengers,1576
353958,Tecate,CA,2505,US-Mexico Border,01/01/1996 12:00:00 AM,Trucks,3228
353959,Calais,ME,115,US-Canada Border,01/01/1996 12:00:00 AM,Trucks,8955
353960,Carbury,ND,3421,US-Canada Border,01/01/1996 12:00:00 AM,Truck Containers Empty,0
353961,Skagway,AK,3103,US-Canada Border,01/01/1996 12:00:00 AM,Buses,3

In [45]:
bpm = df[(df.Measure=="Bus Passengers") & (df.Border=="US-Mexico Border")]
bpm_values = bpm['Value']

bpc = df[(df.Measure=="Bus Passengers") & (df.Border=="US-Canada Border")]
bpc_values = bpc['Value']

len(bpm_values) + len(bpc_values)

29366

In [50]:
bpmsum = sum(list(bpm_values))
bpcsum = sum(list(bpc_values))
mp = 24*12-1
print(bpmsum, bpcsum)
print(bpmsum/(mp-1), bpcsum/(mp-1))

69657843 75801427
243558.8916083916 265039.95454545453

In [40]:
24*12

288

In [51]:
(69657843-195238)/(mp)

242029.9825783972